<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Referencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Referencias</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-label>Nelson Pedraza</ion-label>
      <ion-badge slot="end">09********</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Hernando Navarrete</ion-label>
      <ion-badge color="secondary" slot="end">09********</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Ramiro Jácome</ion-label>
      <ion-badge color="tertiary" slot="end">09********</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Bryan Montenegro</ion-label>
      <ion-badge color="success" slot="end">09********</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Pablo Andrade</ion-label>
      <ion-badge color="warning" slot="end">09********</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Karolina Gomez</ion-label>
      <ion-badge color="dark" slot="end">09********</ion-badge>
    </ion-item>
  
  </ion-list>

</ion-content>
