<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos Personales</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Nombres: Andrés David</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Apellidos: Alvear Mena</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento: 28/12/1998</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>País Residencia: Ecuador</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>País Nacimiento: Ecuador</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>C.I.: 172654799-3</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Estado Civil: Soltero</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Género: Masculino</ion-label>
  </ion-item>
</ion-list>


</ion-content>
