<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presentación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Presentación</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Andrés Alvear</ion-card-title>
    </ion-card-header>
    <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t31.0-8/p720x720/19143171_1567541589954859_8686204622821119257_o.jpg?_nc_cat=107&_nc_sid=7aed08&_nc_eui2=AeHmr3_H5MDTvmLOD_SZy_vUzhKYRZAWJPDOEphFkBYk8IID_EFj-lcFKNs4yZwd236-6LrzUuHKal70CBulYPjl&_nc_ohc=K_jg4BmGAzoAX-1CEaZ&_nc_ht=scontent.fuio1-1.fna&tp=-6&oh=1cb9eeadb25ec7e02ed397d50862558e&oe=5F565787"/>   
    <ion-card-content>
      Bienvenido !! Mi nombre es Andrés Alvear y está es una aplicación que contiene información acerca de mí, y que está
      desarrollada en Ionic 4, en las diferentes tabs estará con más especificación cada uno de los temas esenciales.
    </ion-card-content>
  </ion-card>

</ion-content>
